header 
    #title MFEE16 練習
    ul 
        li 
            a(href="/") 首頁
        li 
            a(href="/auth/detail") 股票資料
        li 
            a(href="/auth/login") 登入
        li 
            a(href="/auth/register") 註冊

