header 
    #title MFEE16 練習
    ul 
        li 
            a(href="/") 首頁
        li 
            a(href="/stock") 股票資料
        if member 
            li 會員中心
            li 登出
        li 
            a(href="/auth/login") 登入
        li 
            a(href="/auth/register") 註冊



