//- 主板型
doctype html 
html 
    head 
        title MFEE16 練習
        meta(charset = "utf-8" )
        link(rel="stylesheet" href="/styles/main.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="/javascript/api.js")

        //-  挖一個洞
        block scripts;



    body 
        include header
        #content 
        block content 
        include footer