//- 主板型
doctype html 
html 
    head 
        title MFEE16 練習
        meta(charset = "utf-8" )
        link(rel="stylesheet" href="styles/main.css")


    body 
        include header 
        block content 
        include footer