//- views/stock/list.pug
//- views/_layouts/master
extends ../_layouts/master

block content
    h1 列表

     table 
    tr 
      th 股票代號
      th 股票名
    each stock in stocks
      tr 
        td 
          a(href=`/stock/${stock.stock_id}`) #{stock.stock_id}
        td #{stock.stock_name}
               