body {
    margin: 0;
    padding: 0;
}

#content {
    padding: 10px;
}

/* table */
table {
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding:5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #6804aa;
    color: white;
}

/* pagination */
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #6804aa;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* form */
.form {
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  input[type="text"],
  input[type="mail"],
  input[type="password"],
  input[type="file"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"],
  button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: #45a049;
  }
  
  /* navigation */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4caf50;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #45a049;
  }