extends ../_layouts/master

block content
    h1 註冊表單

    from.form#registerFrm(method = "POST",action="/auth/register")
    div
        label(for="email") Email 
        input(name="email", type="mail", value="111@mail.com")

    div
        label(for="password") Password 
        input(name="password", type="password", value="test")
    
    div
        label(for="comfirmPassword") ComfirmPassword 
        input(name="comfirmPassword", type="comfirmPassword", value="test")
    
    div
        label(for="name") Name 
        input(name="name", type="name", value="You")
    
     button(type="submit") Submit